<% include ../partials/header %>
  <div class="container">
    <div class="row" style="display: block;">
      <h1 style="text-align: center; margin-top: 20px; ">Add New Comment to <%= campground.name %></h1>
        <div style="width: 30%; margin: 35px auto">
          <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
              <textarea class="form-control" rows="5" placeholder="What did you think?" name="comment[text]" value=""></textarea>
            </div>
            <div class="form-group">
              <input type="hidden" name="date" id="todayDate">
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
            </div>
          </form>
          <a href="/campgrounds">Back</a>
        </div>

    </div>


  </div>
    <% include ../partials/footer %>
