#delete-form {
  display: inline;
}

.thumbnail img {
  height: 100%;
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 10px;
}

.hidden {
  display: none;
}

.side-row {
  height: 267px;
  width: 342px;
  display: flex;
}
.hiddenURL {
}

.cursor-change {
  cursor: pointer;
  cursor: hand;
}
